@model WebApplication.Models.megalist
<!-- Start Header Area -->
<header class="header-area header-wide">
    <!-- main header start -->
    <div class="main-header d-none d-lg-block">
        <!-- header top start -->
        <div class="header-top bdr-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="welcome-message">
                            <p>Welcome to PNJ online store</p>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="header-top-settings">
                            <ul class="nav align-items-center justify-content-end">
                                <li class="curreny-wrap">
                                    $ Currency
                                    <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list curreny-list">
                                        <li><a href="#">$ USD</a></li>
                                        <li><a href="#">€ EURO</a></li>
                                    </ul>
                                </li>
                                <li class="language">
                                    <img src="@Url.Content("~/Images/icon/en.png")" alt="flag"> English
                                    <i class="fa fa-angle-down"></i>
                                    <ul class="dropdown-list">
                                        <li><a href="#"><img src="@Url.Content("~/Images/icon/en.png")" alt="flag"> English</a></li>
                                        <li><a href="#"><img src="@Url.Content("~/Images/icon/fr.png")" alt="flag"> French</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header top end -->
        <!-- header middle area start -->
        <div class="header-main-area sticky">
            <div class="container">
                <div class="row align-items-center position-relative">
                    <!-- start logo area -->
                    <div class="col-lg-1">
                        <div class="logo">
                            <a href="https://www.pnj.com.vn/">
                                <img src="@Url.Content("~/Images/logo/logo.png")" alt="Brand Logo">
                            </a>
                        </div>
                    </div>
                    <!-- start logo area -->
                    <!-- main menu area start -->
                    <div class="col-lg-7 position-static">
                        <div class="main-menu-area">
                            <div class="main-menu">
                                <!-- main menu navbar start -->
                                <nav class="desktop-menu">
                                    <ul>
                                        <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "page" && ViewContext.RouteData.Values["Action"].ToString() == "index") ? "active" : "")">@Html.ActionLink("Home", "index", "Page", new { area = "" }, new { @class = "nav-link" })</li>
                                        <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "page" && ViewContext.RouteData.Values["Action"].ToString() == "about") ? "active" : "")">@Html.ActionLink("About Us", "about", "Page", new { area = "" }, new { @class = "nav-link" })</li>
                                        <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "product" && ViewContext.RouteData.Values["Action"].ToString() == "index") ? "active position-static" : "position-static")">
                                            <a href="@Url.RouteUrl("Shop")">Shop <i class="fa fa-angle-down"></i></a>
                                            <ul class="megamenu dropdown">
                                                <li class="mega-title">
                                                    <span>Categories</span>
                                                    <ul>
                                                        @foreach (var cat in Model.categoryList)
                                                        {
                                                            <li><a href="@Url.Content("/category/" + cat.catLink)">@cat.catName</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span>Materials</span>
                                                    <ul>
                                                        @foreach (var mat in Model.materialList)
                                                        {
                                                            <li><a href="@Url.Content("/material/" + mat.matLink)">@mat.matName</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                                <li class="mega-title">
                                                    <span>Info</span>
                                                    <ul>
                                                        <li><a href="/about">about us</a></li>
                                                        <li><a href="/contact">contact us</a></li>
                                                    </ul>
                                                </li>
                                                <li class="megamenu-banners d-none d-lg-block">
                                                    <a href="/shop">
                                                        <img src="@Url.Content("~/Images/banner/img1-static-menu.jpg")" alt="">
                                                    </a>
                                                </li>
                                                <li class="megamenu-banners d-none d-lg-block">
                                                    <a href="/shop">
                                                        <img src="@Url.Content("~/Images/banner/img2-static-menu.jpg")" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "page" && ViewContext.RouteData.Values["Action"].ToString() == "contact") ? "active" : "")">@Html.ActionLink("Contact Us", "contact", "Page", new { area = "" }, new { @class = "nav-link" })</li>
                                    </ul>
                                </nav>
                                <!-- main menu navbar end -->
                            </div>
                        </div>
                    </div>
                    <!-- main menu area end -->
                    <!-- mini cart area start -->
                    <div class="col-lg-4">
                        <div class="header-right d-flex align-items-center justify-content-xl-between justify-content-lg-end">
                            <div class="header-search-container">
                                <button class="search-trigger d-xl-none d-lg-block"><i class="pe-7s-search"></i></button>
                                <form class="header-search-box d-lg-none d-xl-block">
                                    <input type="text" placeholder="Search entire store hire" class="header-search-field">
                                    <button class="header-search-btn"><i class="pe-7s-search"></i></button>
                                </form>
                            </div>

                            <div class="header-configure-area">
                                @if (Session["id"] != null)
                                {
                                    <ul class="nav justify-content-end">
                                        <li class="user-hover">
                                            <a href="#">
                                                <span class="fs-6">@Session["userfullname"]</span>&nbsp;<i class="pe-7s-user"></i>
                                            </a>
                                            <ul class="dropdown-list">
                                                <li><a href="#">my account</a></li>
                                                <li><a href="/account/logout">logout</a></li>
                                            </ul>
                                        </li>
                                        @*<li>
                                            <a href="#">
                                                <i class="pe-7s-like"></i>
                                                <div class="notification">0</div>
                                            </a>
                                        </li>*@
                                        <li>
                                            <a href="/cart" class="minicart-btn">
                                                <i class="pe-7s-shopbag"></i>
                                                <div class="notification">@Model.cartItmCount()</div>
                                            </a>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <ul>
                                        <li>
                                            <a class="nav-link fs-6" href="@Url.Action("login", "account")">Login</a>
                                        </li>
                                        <li>&nbsp;&#8739;&nbsp;</li>
                                        <li>
                                            <a class="nav-link fs-6" href="@Url.Action("register", "account")">Signup</a>
                                        </li>
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- mini cart area end -->

                </div>
            </div>
        </div>
        <!-- header middle area end -->
    </div>
    <!-- main header start -->
    <!-- mobile header start -->
    <!-- mobile header start -->
    <div class="mobile-header d-lg-none d-md-block sticky">
        <!--mobile header top start -->
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="mobile-main-header">
                        <div class="mobile-logo">
                            <a href="https://www.pnj.com.vn/">
                                <img src="@Url.Content("~/Images/logo/logo.png")" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="mobile-menu-toggler">
                            <div class="mini-cart-wrap">
                                <a href="/cart">
                                    <i class="pe-7s-shopbag"></i>
                                    <div class="notification">0</div>
                                </a>
                            </div>
                            <button class="mobile-menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile header top start -->
    </div>
    <!-- mobile header end -->
    <!-- mobile header end -->
    <!-- offcanvas mobile menu start -->
    <!-- off-canvas menu start -->
    <aside class="off-canvas-wrapper">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="btn-close-off-canvas">
                <i class="pe-7s-close"></i>
            </div>

            <div class="off-canvas-inner">
                <!-- search box start -->
                <div class="search-box-offcanvas">
                    <form>
                        <input type="text" placeholder="Search Here...">
                        <button class="search-btn"><i class="pe-7s-search"></i></button>
                    </form>
                </div>
                <!-- search box end -->
                <!-- mobile menu start -->
                <div class="mobile-navigation">

                    <!-- mobile menu navigation start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Shop</a>
                                <ul class="megamenu dropdown">
                                    <li class="mega-title menu-item-has-children">
                                        <a href="#">Categories</a>
                                        <ul class="dropdown">
                                            @foreach (var cat in Model.categoryList)
                                            {
                                                <li><a href="@Url.RouteUrl("category-detail", new { link = cat.catLink })">@cat.catName</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="mega-title menu-item-has-children">
                                        <a href="#">Materials</a>
                                        <ul class="dropdown">
                                            @foreach (var mat in Model.materialList)
                                            {
                                                <li><a href="@Url.RouteUrl("material-detail", new { link = mat.matLink })">@mat.matName</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="mega-title menu-item-has-children">
                                        <a href="#">Account</a>
                                        <ul class="dropdown">
                                            <li><a href="#">my-account</a></li>
                                            @if (Session["id"] != null)
                                            {
                                                <li><a href="/account/logout">logout</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="@Url.Action("login", "account")">login</a></li>
                                                <li><a href="@Url.Action("register", "account")">login</a></li>
                                            }
                                            <li><a href="/about">about us</a></li>
                                            <li><a href="/contact">contact us</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("contact", "page")">Contact us</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->

                <div class="mobile-settings">
                    <ul class="nav">
                        <li>
                            <div class="dropdown mobile-top-dropdown">
                                <a href="#" class="dropdown-toggle" id="currency" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Currency
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="currency">
                                    <a class="dropdown-item" href="#">$ USD</a>
                                    <a class="dropdown-item" href="#">$ EURO</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown mobile-top-dropdown">
                                <a href="#" class="dropdown-toggle" id="myaccount" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My Account
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- offcanvas widget area start -->
                <div class="offcanvas-widget-area">
                    <div class="off-canvas-contact-widget">
                        <ul>
                            <li>
                                <i class="fa fa-mobile"></i>
                                <a href="#">0123456789</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <a href="mailto:eternityloves.studio@gmail.com">eternityloves.studio@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="off-canvas-social-widget">
                        <a href="https://www.facebook.com/EternityLoves.Team"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://github.com/Eternity-Loves"><i class="fa-brands fa-github"></i></a>
                        <a href="@Url.Content("https://www.youtube.com/@eternityloves")"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
                <!-- offcanvas widget area end -->
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->
    <!-- offcanvas mobile menu end -->
</header>
<!-- end Header Area -->