@model WebApplication.Models.megalist

<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="/admin/dashboard" class="b-brand text-primary">
                <!-- ========   Change your logo from here   ============ -->
                <img src="~/Content/assets/images/logo-white.svg" alt="logo image" class="logo-lg">
                @*<span class="badge bg-primary rounded-pill ms-2 theme-version">v3.0</span>*@
            </a>
        </div>
        <div class="card pc-user-card">
            <div class="card-body">
                <div class="nav-user-image">
                    <a data-bs-toggle="collapse" href="#navuserlink">
                        <img src="~/Images/profile/@Model.user.userAvatar" alt="@Model.user.username" class="user-avtar rounded-circle">
                    </a>
                </div>
                <div class="pc-user-collpsed collapse" id="navuserlink">
                    <h4 class="mb-0">@Model.user.username</h4>
                    <span>Administrator</span>
                    <ul>
                        <li>
                            <a class="pc-user-links">
                                <i class="ph-duotone ph-user"></i>
                                <span>My Account</span>
                            </a>
                        </li>
                        <li>
                            <a class="pc-user-links">
                                <i class="ph-duotone ph-gear"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a class="pc-user-links">
                                <i class="ph-duotone ph-lock-key"></i>
                                <span>Lock Screen</span>
                            </a>
                        </li>
                        <li>
                            <a class="pc-user-links" href="/admin/logout">
                                <i class="ph-duotone ph-power"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item pc-hasmenu">
                    <a href="/admin/dashboard" class="pc-link">
                        <span class="pc-micon">
                            <i class="ph-duotone ph-gauge"></i>
                        </span>
                        <span class="pc-mtext">Dashboard</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                </li>
                <li class="pc-item pc-caption">
                    <label>Management</label>
                    <i class="ph-duotone ph-chart-pie"></i>
                </li>
                <li class="pc-item">
                    <a href="@Url.RouteUrl("product-index")" class="pc-link">
                        <span class="pc-micon">
                            <i class="ph-duotone ph-projector-screen-chart"></i>
                        </span>
                        <span class="pc-mtext">Products</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="@Url.RouteUrl("category-index")" class="pc-link">
                        <span class="pc-micon">
                            <i class="ph-duotone ph-identification-card"></i>
                        </span>
                        <span class="pc-mtext">Categories</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="@Url.RouteUrl("material-index")" class="pc-link">
                        <span class="pc-micon">
                            <i class="ph-duotone ph-identification-card"></i>
                        </span>
                        <span class="pc-mtext">Materials</span>
                    </a>
                </li>
                @*<li class="pc-item">
                    <a href="../widget/w_user.html" class="pc-link">
                        <span class="pc-micon">
                            <i class="ph-duotone ph-identification-card"></i>
                        </span>
                        <span class="pc-mtext">User</span>
                    </a>
                </li>*@
            </ul>
        </div>
    </div>
</nav>