@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layouts/_userUI.cshtml";
}

<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">About us</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- about us area start -->
    <section class="about-us section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="about-thumb">
                        <img src="@Url.Content("~/Images/about/about.jpg")" alt="about thumb">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-content">
                        <h2 class="about-title">About Us</h2>
                        <h5 class="about-sub-title">
                            Founded in 1986, I.D. Jewelry, LLC, a family owned &amp; operated business has become a house-hold name in states all over the USA as well as countries all over the world.
                        </h5>
                        <p>For those that rather the full immersion of the in store experience we welcome your company and look forward to meeting you face to face. Being located in the 47 street diamond district, known to be the largest diamond.</p>
                        <p>Based in the heart of New York’s Diamond District, also known as the NYC diamond district, I. D. Jewelry has some of the most competitively priced in the market. It is our goal to supply our clients.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about us area end -->
    <!-- choosing area start -->
    <div class="choosing-area section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">Why Choose Us</h2>
                        <p>Accumsan vitae pede lacus ut ullamcorper sollicitudin quisque libero</p>
                    </div>
                </div>
            </div>
            <div class="row mbn-30">
                <div class="col-lg-4 col-md-4">
                    <div class="single-choose-item text-center mb-30">
                        <i class="fa fa-globe"></i>
                        <h4>free shipping</h4>
                        <p>Amadea Shop is a very slick and clean e-commerce template with endless possibilities.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-choose-item text-center mb-30">
                        <i class="fa fa-plane"></i>
                        <h4>fast delivery</h4>
                        <p>Amadea Shop is a very slick and clean e-commerce template with endless possibilities.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-choose-item text-center mb-30">
                        <i class="fa fa-comments"></i>
                        <h4>customers support</h4>
                        <p>Amadea Shop is a very slick and clean e-commerce template with endless possibilities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- choosing area end -->
    <!-- testimonial area start -->
    <section class="testimonial-area section-padding bg-img" data-bg="@Url.Content("~/Images/testimonial/testimonials-bg.jpg")" style="background-image: url(@Url.Content("~/Images/testimonial/testimonials-bg.jpg"));">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- section title start -->
                    <div class="section-title text-center">
                        <h2 class="title">testimonials</h2>
                        <p class="sub-title">What they say</p>
                    </div>
                    <!-- section title start -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="testimonial-thumb-wrapper">
                        <div class="testimonial-thumb-carousel slick-initialized slick-slider">
                            <div class="slick-list draggable" style="padding: 0px;">
                                <div class="slick-track" style="opacity: 1; width: 1164px; transform: translate3d(-291px, 0px, 0px);">
                                    <div class="slick-slide slick-cloned" data-slick-index="-4" id="" aria-hidden="true" style="width: 97px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-1.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" style="width: 97px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-2.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" style="width: 97px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-3.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned slick-active" data-slick-index="-1" id="" aria-hidden="false" style="width: 97px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-2.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-current slick-active slick-center" data-slick-index="0" aria-hidden="false" style="width: 97px;">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-1.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 97px;">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-2.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 97px;">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-3.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 97px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-2.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned slick-center" data-slick-index="4" id="" aria-hidden="true" style="width: 97px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-1.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="5" id="" aria-hidden="true" style="width: 97px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-2.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="6" id="" aria-hidden="true" style="width: 97px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-3.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="7" id="" aria-hidden="true" style="width: 97px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-thumb" style="width: 100%; display: inline-block;">
                                                <img src="@Url.Content("~/Images/testimonial/testimonial-2.png")" alt="testimonial-thumb">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-content-wrapper">
                        <div class="testimonial-content-carousel slick-initialized slick-slider">
                            <div class="slick-list draggable">
                                <div class="slick-track" style="opacity: 1; width: 8190px; transform: translate3d(-910px, 0px, 0px);">
                                    <div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 910px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-content" style="width: 100%; display: inline-block;">
                                                <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                                <div class="ratings">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <h5 class="testimonial-author">Maria Mora</h5>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 910px;">
                                        <div>
                                            <div class="testimonial-content" style="width: 100%; display: inline-block;">
                                                <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                                <div class="ratings">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <h5 class="testimonial-author">lindsy niloms</h5>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 910px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-content" style="width: 100%; display: inline-block;">
                                                <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                                <div class="ratings">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <h5 class="testimonial-author">Daisy Millan</h5>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 910px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-content" style="width: 100%; display: inline-block;">
                                                <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                                <div class="ratings">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <h5 class="testimonial-author">Anamika lusy</h5>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 910px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-content" style="width: 100%; display: inline-block;">
                                                <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                                <div class="ratings">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <h5 class="testimonial-author">Maria Mora</h5>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="4" id="" aria-hidden="true" style="width: 910px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-content" style="width: 100%; display: inline-block;">
                                                <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                                <div class="ratings">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <h5 class="testimonial-author">lindsy niloms</h5>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="5" id="" aria-hidden="true" style="width: 910px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-content" style="width: 100%; display: inline-block;">
                                                <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                                <div class="ratings">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <h5 class="testimonial-author">Daisy Millan</h5>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="6" id="" aria-hidden="true" style="width: 910px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-content" style="width: 100%; display: inline-block;">
                                                <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                                <div class="ratings">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <h5 class="testimonial-author">Anamika lusy</h5>
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="7" id="" aria-hidden="true" style="width: 910px;" tabindex="-1">
                                        <div>
                                            <div class="testimonial-content" style="width: 100%; display: inline-block;">
                                                <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                                                <div class="ratings">
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <h5 class="testimonial-author">Maria Mora</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial area end -->
    <!-- team area start -->
    <div class="team-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">Our Team</h2>
                        <p>Accumsan vitae pede lacus ut ullamcorper sollicitudin quisque libero</p>
                    </div>
                </div>
            </div>
            <div class="row mbn-30">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="team-member mb-30">
                        <div class="team-thumb">
                            <img src="https://avatars.githubusercontent.com/u/69381154" alt="@Html.Raw("@kiyoshikuncool")">
                            <div class="team-social">
                                <a href="https://www.facebook.com/kiyoshikuncool.thecoldlyboy.lovelinhlinhcute/"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://twitter.com/kiyoshikuncool"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="https://www.instagram.com/kiyoshikuncool/"><i class="fa-brands fa-instagram"></i></a>
                                <a href="@Url.Content("https://www.tiktok.com/@kiyoshikuncool")"><i class="fa-brands fa-tiktok"></i></a>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6 class="team-member-name">M.Chiến (Kiyoshi Kun)</h6>
                            <p>CEO</p>
                        </div>
                    </div>
                </div> <!-- end single team member -->
                
                <div class="col-lg-2"></div>

                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="team-member mb-30">
                        <div class="team-thumb">
                            <img src="https://avatars.githubusercontent.com/u/89738212" alt="@Html.Raw("@linhlinhcute")">
                            <div class="team-social">
                                <a href="https://www.facebook.com/bangbang.diep.524381"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/bangbang.diep.524381/"><i class="fa-brands fa-instagram"></i></a>
                                <a href="@Url.Content("https://www.tiktok.com/@linh80723002")"><i class="fa-brands fa-google-plus-g"></i></a>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h6 class="team-member-name">Thùy Linh (Linh Linh)</h6>
                            <p>designer</p>
                        </div>
                    </div>
                </div> <!-- end single team member -->
            </div>
        </div>
    </div>
    <!-- team area end -->
</main>